<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather</title>
  </head>
  <body>
    <h1>Weather in the cities</h1>

    <h2>Cities</h2>
    <p>Current weather and forecast for <%= @days %> days.</p>
    <p>Values aggregated from these cities:</p>
    <p>
      <% @cities.each do |city| %>
        <%= city %>
      <% end %>
    </p>

    <h2>Current</h2>
    <p>Average temperature: <%= "%.1f&#8451;C" % [@avg_temp_now] %></p>
    <p>Sensed average temperature: <%= "%.1f&#8451;C" % [@avg_feelslike_now] %></p>

    <h2>Forecast</h2>
    <% @forecast.each do |day| %>
      <h3><%= day['date'] %></h3>
      <p>Minimum temperature: <%= "%.1f&#8451;C" % [day['min']] %></p>
      <p>Maximum temperature: <%= "%.1f&#8451;C" % [day['max']] %></p>
      <p>Average temperature: <%= "%.1f&#8451;C" % [day['avg']] %></p>
    <% end %>
  </body>
</html>
